* {
    font-family: Arial, Helvetica, sans-serif;
}
#intensity {
    border: 2px solid green;
    text-align: center;
    height: 100px;
    width: 50px;
    position: relative;
}
#intensity:after {
    border: 2px solid green;
    text-align: center;
    height: 100px;
    width: 50px;
    position: absolute;
    background:black;
}
#duration {
    border: 2px solid green;
    text-align: center;
    height: 50px;
    width: 100px;
    position: relative;
}
#duration:after {
    border: 2px solid green;
    text-align: center;
    height: 100px;
    width: 50px;
    position: absolute; 
    background:black;
}
td {
    border: 2px solid black;
    text-align: center;
}
th {
    font-weight: normal;
}
#co-player-settings {
    float:left;
}
#player-settings {
    float:right;
}
.player-duration {
    cursor: default;
}
.player-intensity {
    cursor: default;
}
#tap {
    width:600px;
    margin:auto;
    display:flex;
}
#target {
    margin: auto;
    text-align: center;
}
#target-color-cues {
    font-size: small;
}
#target-square {
    margin: auto;
    width: 150px;
    height: 150px;
    border: 2px solid black;
    text-align: center;
    background-color: green;
    position: relative;
}
#winner-div {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    font-weight: bolder;
    font-size: 40px;
    color: green;
    background-color: white;
    position: absolute;
    text-align: center;
    z-index: 1;
}
#winner-message {
    font-weight: bold;
    font-size: 18px;
    color: green;
    background-color: white;
}
#loser-div {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left:50%;
    top:50%;
    font-weight: bolder;
    font-size: 40px;
    color: red;
    background-color: white;
    text-align: center;
    position: absolute;
    z-index: 1;
}
.cell-selector {
    background: gray;
}
#ready {
    width: 150px;
    margin: auto;
    border: 2px solid black;
    text-align: center;
    cursor: default;
}
.ready-selector {
    background: blue;
}
.Skin label {
    text-shadow: none;
}
.table-label {
    font-weight: bold;
    text-align: center;
}
#countdownDiv {
    text-align: center;
    visibility: hidden;
    font-size: 20px;
    padding: 10px;
}
#countdownSpan {
    color: yellow;
    text-align: center;
    background-color: black;
    padding: 3px;
}
#continue {
    text-align: center;
    visibility: hidden;
}
#green-cue {
    background-color: green;
}

#yellow-cue {
    background-color: yellow;
}
#red-cue {
    background-color: red;
}